<form {{action 'save' on='submit'}}>
Serie {{input type='text' value=model.serie}}
Folio {{input type='text' value=model.folio}}
Fecha {{input type='date' value=model.folio}}

<button {{action 'guardarConcepto'}}class="btn btn-danger">Agregar concepto</button>
<hr>
<table>
    <tbody>
      {{#each factura.conceptos as |c|}}
      {{form-conceptos concepto=c}}
      {{/each}}
    </tbody>
</table>
<button class="btn btn-success">Guardar</button>
</form>
